@font-face {
    font-family: "Breath Of The Wild";
    src: url('../fonts/botwfont.ttf') format('ttf') ;
}

@font-face {
    font-family: "Breath Of The Wild";
    src: url('../fonts/botwfont.woff') format('woff') ;
}

html{
background-color: #352716;
background: url(../img/background.png);
}
body {
  margin: 0;
  padding: 0;
  padding-bottom: 20em;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 1.4em 0;
  font: 300 2.6em 'Breath Of The Wild', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2.2em;
  position: relative;
  max-width: 57em;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 45em;
  font-family: 'Lato';
  font-weight: 400em;
}

.form-control, 
textarea {
  max-width: 40em;
  background-color: #000;
  font-family: 'Breath Of The Wild', sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 1.5em;
  height: 2.5em;
  width: 32em;
  font-family: 'Breath Of The Wild', sans-serif;
  overflow: hidden;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  font-family: 'Breath Of The Wild', sans-serif;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Breath Of The Wild', sans-serif;
  letter-spacing: 2px;
}


/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -3em;
  padding-right: 2em;
}

.list-item {
  line-height: 4em;
  color: #aaa;
}

.contact-text {
  font: 300 1.3em 'Breath Of The Wild', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 4.2em;
}

.phone {
  margin-left: 4.2em;
}

.gmail {
  margin-left: 4.2em;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3em;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 2.2em;
  width: 2.2em;
  margin: 0.1em 0.1em;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(68, 68, 68);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Breath Of The Wild', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}