@font-face {
    font-family: "Breath Of The Wild";
    src: url('../fonts/botwfont.ttf') format('ttf') ;
}

@font-face {
    font-family: "Breath Of The Wild";
    src: url('../fonts/botwfont.woff') format('woff') ;
}


/* body styles */
body {
    width: 68.5%;
    margin: auto;
    background: url(../img/background.png);
}
body img {
    display: block;
    margin: 0 auto;
}

.linkbodypicture {
    margin: top;
    width: 100%;
}

/* horizontal navigation styles */

nav.horizontal {
    color: white;
}

nav.horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: rgb(0, 0, 0);
}

nav.horizontal ul li {
    flex: 1;
    display: block;
    text-align: center;
    padding: 3em 5em;
    text-decoration: none;
    font: 1.1em 'Breath Of The Wild', sans-serif;
}

nav.horizontal ul li a {
    color: white;
    text-decoration: none;
}

/* Column styles  */
[class*=column] {
  float: left;
  width: 50%;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.column1 iframe {
    padding-top: 0.56em;
}

.column2 p {
    font-size: 0.5em;
}

.column2 ul {
    list-style: none;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.linkredirect {
    width: 50%;
    height: 50%;
}

.zeldaredirect {
     width: 30%;
    height: 50%;
}


/* footer styles */
footer {
    text-align: center;
}

footer h1 {
    text-decoration: underline;
}
