/* zelda.css v */
@media (max-width:480px){
                      
                .history{
                    width: auto;
                    font-size: 20px;
                   border-radius: 20px;
                    

                }
                .containerbase1{
                    width: 80%;
                    font-size: 20px;
                }

                .containerbase2{
                    width: 80%;
                    font-size: 20px;
                }

                .containerbase3{
                    width: 80%;
                    font-size: 20px;
                }

                .containerbase4{
                    width: 80%;
                    font-size: 20px;
                }

                .options{
                    flex-direction: row ;
                    width: auto;
                }
            }

            @media (min-width:481px) and (max-width:900px){
                

                


                .options{
                    flex-direction: row ;
                    width: auto;
                }
                .history{
                    width: 75%;
                    font-size: 20px;
                }

                .containerbase1{
                    width: 90%;
                    font-size: 20px;
                }

                .containerbase2{
                    width: 90%;
                    font-size: 20px;
                }
                .containerbase3{
                    width: 90%;
                    font-size: 20px;
                }
                .containerbase4{
                    width: 90%;
                    font-size: 20px;
                }

                
            }

            @media (min-width:901px){
                a{
                    scroll-margin-top: 350px;
                }
            }